@import "../variables.scss";

.chart-pages {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: $greyish-color;

    .upper-bar {
        height: 10dvh;
        width: 100dvw;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .chart-logo {
            height: 8dvh;
            img{
                height: 8dvh;
                margin-left: 30px;
            }
        }
    
        .toggler {
            margin-right: 30px;
        }
    }

    .circle-menu {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        bottom: 30px;
        right: 30px;
        background-color: $yellow;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        cursor: pointer;
        z-index: 9;

        img {
            height: 25px;
            width: 25px;
        }

        .circle-menu-navbar {
            width: 300px;
            position: absolute;
            bottom: -2px;
            right: 0px;

            .navbar {
                display: grid;
                gap: 0px;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(6, 1fr);
                width: 300px;
                position: relative;

                a {
                    div {
                        border: none;
                        height: 45px;
                        width: 300px;
                        color: $dark-color;
                    }
                }
                a:hover {
                    div {
                        background-color: $yellow;
                        color: $light-color;
                    }
                }
            }
        }

    }



    .side {
        display: none;

        .upper-side {
            height: 80px;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            display: block;

            img {
                height: 70px;
            }
        }

        .navbar {
            margin-top: 50px;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-columns: minmax(140px, auto);
            grid-template-rows: repeat(6, 1fr);
            gap: 0px;

            a {
                div {
                    border: none;
                }
            }
        }
    }

    .chart {
        min-height: 90dvh;
        width: 100dvw;
        background-color: $light-color;
        
        div{
            .chart-graph {
                background-color: $yellow;
                width: calc(100% - 60px);
                height: 300px;
                margin: 60px auto 30px;
            }

            h2{
                color: $dark-color;
                font-size: 3rem;
                margin: 30px auto;
                padding: 0px 30px;
            }
            p{
                color: $dark-color;
                font-size: 1.2rem;
                margin: 30px auto;
                padding: 0px 30px 60px;
            }
        }
    }   
}

.chart-pages.dark{
    background-color: $dark-color;

    .circle-menu{
        .circle-menu-navbar {
            .navbar{
                a {
                    div{
                        color: $light-color;
                    }
                }
                a:hover {
                    div {
                        background-color: $yellow;
                        color: $light-color;
                    }
                }
            }
        }
    }

    .chart{
        background-color: $darker-color;

        div{
            h2 {
                color: $light-color !important;
            }
            p {
                color: $light-color;
            }
        }
    }
}





@media only screen and (min-width: 500px) and (max-width: 699px) {

}

@media only screen and (min-width: 700px) and (max-width: 1499px) {
    .chart-pages {
        display: flex;
        flex-direction: row;

        .upper-bar {
            display: none;
        }
        .circle-menu {
            display: none;
        }
        .circle-menu-navbar{
            display: none;
        }
        .side {
            min-height: 100dvh;
            width: 25dvw;
            background-color: $greyish-color;
            display: flex;
            flex-direction: column;

            .upper-side {
                height: 80px;
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                img {
                    height: 70px;
                }
            }

            .navbar {
                margin-top: 50px;
                grid-template-columns: repeat(1, 1fr);
                grid-auto-columns: minmax(140px, auto);
                grid-template-rows: repeat(6, 1fr);
                gap: 0px;

                a {
                    div {
                        border: none;
                        color: $dark-color;
                    }
                }
            }
        }

        .chart {
            min-height: 100dvh;
            width: 75dvw;
            background-color: $light-color;

            div {
                h2 {
                    font-size: 4rem;
                }
            }
        }
    }
    .chart-pages.dark {
        .side {
            background-color: $dark-color;

            .navbar {
                a {
                    div {
                        color: $light-color;
                    }
                }
            }
        }

        .chart {
            background-color: $darker-color;
        }
    }
}

@media only screen and (min-width: 1500px) {

}